<app-hijo
(EventoMensaje)="recibirMensaje($event)"
(EventoMensaje2)="recibirSegundo($event)"

>
</app-hijo>
<div>
  <h2>
    Output
  </h2>
  <h4>
    Mensaje del componente hijo: {{ mensajePadre | json }}
  </h4>
  <h4>
    2do Mensaje del componente hijo: {{ SecondMessage | json }}
  </h4>
</div>
